.menuPrincipal {
  background-color: #fafafa;
  border-bottom: 1px solid #d2d2d7;
  font-size: 13px;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  font-weight: 500;
  cursor: pointer;
  z-index: 100;
}

.menuHamburguesa {
  background-color: #cecece;
  height: 22px;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer !important;
}
.menuHamburguesa:hover {
  background-color: #8bc21e;
  height: 22px;
  padding: 5px;
  border-radius: 5px;
  color: white;
  cursor: pointer !important;
}

.menuSelectionOpen {
  background-color: #8bc21e;
}
