@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");



:root {
  --width-menu-abierto: 230px;
  --width-menu-cerrado: 50px;
}

* {
  font-family: "Roboto", sans-serif;
}
body {
  font-family: "Roboto", sans-serif;
}

.MuiBadge-standard {
  font-size: 9px !important;
}
.cursor-pointer {
  cursor: pointer;
}

.github-picker
{
  position: absolute !important;
}

.crudDivComponent {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
  background-color: white;
  z-index: 500;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  padding: 20px;
}

