

.sidebarAbierto {
  margin-top: 60px;
  background-color: #fafafa;
  width: 100%;
  min-height: 100vh;
  position: fixed;
  left: 0;
  padding: 20px;
  width: var(--width-menu-abierto);
  overflow: auto;
  border-right: 1px solid #d2d2d7;
}
.sidebarCerrado {
  margin-top: 60px;
  padding-top: 25px;
  width: 230px;
  background-color: #fafafa;
  width: var(--width-menu-cerrado);
  min-height: 100vh;
  position: fixed;
  left: 0;
  overflow: auto;
  border-right: 1px solid #d2d2d7;
}

.menuDivider {
  white-space: nowrap;
  overflow: hidden;
  cursor: pointer;
  margin-bottom: 10px;
}

.menuDividerSpan {
  color: #ababab;
  display: inline-block;
  font-size: 13px;
  font-weight: 400;
  position: relative;
  cursor: pointer;
  white-space: nowrap;
  padding-left: 5px;
}
.menuDividerSpan:after {
  content: " ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------";
}

.dividerTop {
  border-top: 1px solid #d2d2d7;
}

.menuSelectionOpen:hover {
  background-color: #ededed;
  border-radius: 5px;
}
