.fondoLogin {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: fixed;
  }
  .fondoLogin::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      ),
      url("https://www.tjagto.gob.mx/wp-content/uploads/revslider/slider-1/Estacionamiento-TJA-Guanajuato.jpg") no-repeat center
        center fixed;
    background-size: cover;
    overflow: hidden;
    -webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    -o-filter: blur(3px);
    -ms-filter: blur(3px);
    filter: blur(3px);
    -webkit-transform: scale(1.2, 1.2);
    -moz-transform: scale(1.2, 1.2);
    -o-transform: scale(1.2, 1.2);
    -ms-transform: scale(1.2, 1.2);
    transform: scale(1.2, 1.2);
  }
  